<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Convert File </title>
    <style type="text/css">
    	html, body {
		    height: 50%;
		}

		html {
		    display: table;
		    margin: auto;
		}

		body {
		    display: table-cell;
		    vertical-align: middle;
		}
    </style>
</head>
<body>
	<h2>Data Converter</h2>
<form action="/upload" method="POST" enctype="multipart/form-data" >
  <input id="fileupload"  type="file" name="file" /><br><br>
  <button id="upload-button"> Upload </button>
</form>


</body>
</html>